<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Portafolio de trabajo Roguben">
	<title>Portafolio Roguben</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/normalize.css"/>
	<link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item"><a href="#yo" class="MainMenu-link">Yo</a></li>
				<li class="MainMenu-item"><a href="#perfil" class="MainMenu-link">Perfil</a></li>
				<li class="MainMenu-item"><a href="#trabajo" class="MainMenu-link">Trabajo</a></li>
				<li class="MainMenu-item"><a href="#contacto" class="MainMenu-link">Contacto</a></li>
			</ul>
		</nav>
		<figure class="Header-imageContainer">
			<img src="../static/images/avatar.jpg" class="Header-image">
			<figcaption class="Header-imageDescription">
				<a href="http://twitter.com/roguben" target="_black" class="Header-link">@Roguben</a>
			</figcaption>
			<p class="Header-name">Rodrigo Gutierrez</p>
		</figure>
	</header>
	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">Mi perfil</h2>
		<p class="Profile-description">
			Hola! conoce un poco más de mi a traves de este portafolio.
		</p>
		<a href="#" target="_black" class="Profile-link">Facebook</a>
		<a href="#" target="_black" class="Profile-link">Twitter</a>
		<a href="#" target="_black" class="Profile-link">Github</a>
	</section>
	<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">Mi trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/proyecto.jpg" class="Work-image">
				<figcaption class="Work-description">
					Mejorando.la
				</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/proyecto.jpg" class="Work-image">
				<figcaption class="Work-description">
					Mejorando.la
				</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/proyecto.jpg" class="Work-image">
				<figcaption class="Work-description">
					Mejorando.la
				</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/proyecto.jpg" class="Work-image">
				<figcaption class="Work-description">
					Mejorando.la
				</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/proyecto.jpg" class="Work-image">
				<figcaption class="Work-description">
					Mejorando.la
				</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/proyecto.jpg" class="Work-image">
				<figcaption class="Work-description">
					Mejorando.la
				</figcaption>
			</figure>
		</article>
	</section>
	<footer id="contacto" class="Footer">
		<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">
				Si te gustó mi trabajo o tienes alguna sugerencia, contactame a traves 	del formulario
			</p>
		</div>
		<form action="#" class="Footer-form">
			<input type="text" placeholder="Nombre" class="Footer-formInput">
			<input type="email" placeholder="Email" class="Footer-formInput">
			<textarea placeholder="Motivo" id="" cols="20" rows="5" class="Footer-textarea"></textarea>
			<button type="submit" class="Footer-button">Contactarme</button>
		</form>
	</footer>
</body>
</html>